:root {
  --medium-color: #5900c6;
  --dark-color: #34036f;
  --background-color: #e2dddd;
  --card-color: white;
  --text-color-light: white;
  --text-color-dark: #000000;
}

* {
  font-family: 'Montserrat';
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}