.board-container {
    margin: 20px;
    padding: 25px;
    background-color: var(--card-color);
    border-radius: 5px;
}

.board-header {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.sections {
    display: flex;
    flex-direction: row;
}

.section {
    width: 100%;
    border: 0.5px solid;
    border-color: grey;
    border-radius: 5px;
    margin: 10px;
}

.section-heading {
    margin-left: 10px;
}

.section-area {
    height: 500px;
}

.add-button {
    background-color: var(--card-color);
    border-color: var(--dark-color);
    border-width: 1px;
    color: var(--text-color-dark);
    font-size: 16px;
    padding: 8px;
    border-radius: 3px;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    list-style: none;
    width: 100px;
    height: 100px;
    border: none;
    background-color: #f4ea76;
    font-size: 1vw;
    margin: 3px;
    padding: 3px;
}


@media screen and (max-width: 700px) {
    .sections {
        display: flex;
        flex-direction: column;
    }
}