:root {
    --light-color: white;
    --medium-color: #598a02;
    --dark-color: #002907;
}

* {
    font-family: 'Quicksand', sans-serif;
}

header {
    background-color: var(--dark-color);
    color: white;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
  
.nav-items {
    justify-content: space-between;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-item {
    font-size: 16px;
    padding: 8px;
    margin: 5px;
}

.nav-link {
    text-decoration: none;
    color: black;
} 