header {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    background-color: var(--card-color);
    justify-content: space-between;
}

.logo {
    width: 40px;
    height: 40px;
    margin: 10px;
}
  
.nav-items {
    display: flex;
    text-decoration: none;
}


.nav-item {
    font-size: 16px;
    padding: 8px;
    margin: 5px;
    border-radius: 3px;
    border: none;
}

.nav-link {
    text-decoration: none;
    color: black;
} 

@media screen and (max-width: 700px) {
    .sections {
        display: flex;
        flex-direction: column;
    }
}