.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
.modal-main {
    padding: 10px;
    position:fixed;
    background: white;
    border-radius: 5px;
    width: 320px;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}


.thought-text-area {
    width: 100%;
    height: 300px;
    border: none;
    background-color: #f4ea76;
    resize: none;
    font-size: 3vw;
    margin: 2px;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}